<!-- Nur anzeigen, wenn auf /home -->
<ng-container *ngIf="showNavigation(); else showContentOnly">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      [mode]="isHandset() ? 'over' : 'side'"
      [opened]="!isHandset()"
      class="sidenav"
    >
      <mat-toolbar color="primary" class="sidenav-header">Menü</mat-toolbar>
      <mat-nav-list class="home-grid">
        <a  class="box big" mat-list-item routerLink="/stempeln" routerLinkActive="active" (click)="isHandset() ? drawer.close() : null">
          <mat-icon>access_time</mat-icon>
          <span>Stempeln</span>
        </a>
        <a class="box small" mat-list-item routerLink="/history" routerLinkActive="active" (click)="isHandset() ? drawer.close() : null">
          <mat-icon>history</mat-icon>
          <span>History</span>
        </a>
        <a class="box small" mat-list-item routerLink="/login" routerLinkActive="active" (click)="isHandset() ? drawer.close() : null">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="main-toolbar">
        <button *ngIf="isHandset()" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Zeiterfassung</span>
      </mat-toolbar>

      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<!-- Wenn NICHT auf /home -->
<ng-template #showContentOnly>
  <router-outlet></router-outlet>
  <app-auth-button />
</ng-template>
